--- sound/soc/codecs/Kconfig
+++ sound/soc/codecs/Kconfig
@@ -448,9 +448,3 @@
 
 config SND_SOC_MSM_STUB
 	tristate
-
-config SOUND_CONTROL_HAX_GPL
-	tristate "wcd93xx sound control hax"
-	default y
-	help
-	  FauxSound WCD93xx chipset sound control hacks
