--- drivers/gpu/msm/Kconfig
+++ drivers/gpu/msm/Kconfig
@@ -108,13 +108,6 @@
 	bool "Enable sysfs node of GPU usage per process"
 	default n
 
-config MSM_KGSL_SIMPLE_GOV
-	bool "Simple KGSL GPU govenor for Qualcomm Adreno xxx devices"
-	default n
-	depends on MSM_KGSL
-	---help---
-	  A simple KGSL GPU govenor for Qualcom Adreno XXX devices
-
 config MSM_KGSL_DEFAULT_GPUMMU
 	bool "Prefer gpummu than iommu"
 	default n
